body {
    background-color: #ffffff;
    color: #000000;
  }

  .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 50px;
  }

  .order-summary {
    background-color: #f8f9fa; /* Light Gray */
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
  }

  h2, h3 {
    color: #b30000; /* Red */
  }

  label {
    font-weight: bold;
  }

  .btn-primary {
    background-color: #b30000; /* Red */
    border-color: #b30000; /* Red */
  }

  .btn-primary:hover {
    background-color: #8c0000; /* Darker Red */
    border-color: #8c0000; /* Darker Red */
  }